#character-modal {
  .modal-header {
    text-align: center;

    h1 {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }

  .modal-body {
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
}
