@import "variables/_theme";

/* Styles */
body,
html {
  height: 100%;
}

body {
  background-color: $body-bg-color;
  background: url('../../styles/assets/background3.jpeg');
  background-repeat: repeat;
  color: $body-color;
}

#app,
.app-wrapper {
  height: inherit;
}
