@import "variables/_theme";

.top-bar {
  background: url('../../../styles/assets/header.jpeg');
  background-size: cover;
}
.top-bar ul {
  background: transparent;
}

#main-container {
  &>.row {
    max-width: 60rem;
  }
  .row {
    background-color: $row-bg-color;
    color: $row-color;
  }
}
