/*=== Colors ===*/

/* Whites/Grays/Blacks */


$color-white: #ffffff;
$color-main-gray: #59595B;
$color-background-gray: #E8E8E8;
$color-text-black: #464243;
$color-black: #222527;

/* Reds */
$color-header: #7E0F12;

/* Yellows, Oranges */
$color-highlight: #E6AE30;

/*=== Theme Colors ===*/

/* Body */
$body-bg-color: $color-black;
$body-color: $color-white;

/* Row */
$row-bg-color: $color-black;
$row-color: $color-white;

/* Table */
$table-row-odd-bg-color: $color-black;
$table-row-even-bg-color: $color-main-gray;
$table-highlight: $color-highlight;

/* Banners */
$error-banner-bg-color: $color-white;
$error-banner-color: $color-header;

$loading-banner-bg-color: $color-white;
$loading-banner-color: $color-text-black;

